[submodule "pjproject"]
	path = pjproject
	url = https://github.com/NgoMinhToan/pjproject.git
	branch = my_working_branch
[submodule "pjsip_sdk"]
	path = pjsip_sdk
	url = https://github.com/NgoMinhToan/pjsip_sdk.git
	branch = main
